<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/fontawesome.min.css" integrity="sha512-giQeaPns4lQTBMRpOOHsYnGw1tGVzbAIHUyHRgn7+6FmiEgGGjaG0T2LZJmAPMzRCl+Cug0ItQ2xDZpTmEc+CQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css"/>
   
    <title>Abdelmounaim Portfolio</title>
</head>
<body>

   <!-- navbar stetup -->
   <nav class="navigation">
        <div class="logo">
            <i class="fa-solid fa-brain"></i>
            <div class="info">
                <h2 class="name">Abdelmounaim</h2>
                <p class="type">Portfolio</p>
            </div>
        </div>
           <p class="par">hmamedabdelmounaime@gmail.com</p>
           <p class="par">+212618-757791</p>
           <i class="fa-solid fa-bars" id="open" ></i>
   </nav>
   

  
   <section class="hidden" id="section">
    
        <i class="fa-solid fa-xmark" id="close"></i>
    
    <ul class="items">
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/Project">Projects</a></li>
        <li><a href="/Inpiration">Inspiration</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <div class="social">
        <a target="_blank" href=""><i class="fa-brands fa-facebook"></i></a>
        <a target="_blank" href="mou_naimhm"><i class="fa-brands fa-instagram"></i></a>
        <a target="_blank" href="tel:+212618757791"><i class="fa-brands fa-whatsapp"></i></a>
        <a target="_blank" href="https://github.com/Abdelmounaimhmamed?tab=repositories"><i class="fa-brands fa-github"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/abdelmounaim-hmamed-891503203/"><i class="fa-brands fa-linkedin-in"></i></a>
    </div>  
    <p class="copyright">© Abdelmounaim 2023</p>     
   </section>

   <script src="scripts/script.js">
    </script>


