
<%- include("./components/header.ejs"); %>


<section class="body">
    <div class="begin-info">
        <h3>Home</h3>
        <p>Welcome to <br> Abdemounaim work area</p>
    </div>
    <div class="second-info">
        <span>Hello I'M <h1>Abdelmounaim hmamed</h1></span>
        <div class="child-info">
            <i class="fa-solid fa-code"  ></i>
            <p>Let's Contact .</p>
        </div>
    </div>
    <div class="social social-1">
        <a target="_blank" href=""><i class="fa-brands fa-facebook"></i></a>
        <a target="_blank" href="mou_naimhm"><i class="fa-brands fa-instagram"></i></a>
        <a target="_blank" href="tel:+212618757791"><i class="fa-brands fa-whatsapp"></i></a>
        <a target="_blank" href="https://github.com/Abdelmounaimhmamed?tab=repositories"><i class="fa-brands fa-github"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/abdelmounaim-hmamed-891503203/"><i class="fa-brands fa-linkedin-in"></i></a>
    </div>
</section>




<%- include("./components/footer.ejs") %>
