
<%- include("./components/header.ejs"); %>


<div class="main-box">

    <div class="quote">
        <h1 >Inspiration</h1>
        <i class="fa-solid fa-quote-left"></i>
    </div>
    <div class='quoteself'>
        <q id='demo'> </q>
        <p class="writer">UNLOCKED: the power of you - The power of why -</p>
    </div>
</div>




<%- include("./components/footer.ejs") %>
